p {
  text-indent: 20px;
}
.container {
  font-size: 16px;
  background-color: #f9fafc;
}

.hood {
  height: 150px;
  max-width: 100%;
  margin: auto;
  border: 2px solid #afb4bc;
  border-radius: 5px;
}

.navbar p {
  text-align: center;
}

.titleblurb {
margin-top: 10px;

}

.aboutme img {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.background img {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hobbies img {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.imagealign img {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 225px;
  border: 2px solid #afb4bc;
  border-radius: 5px;

}

.navbar {
  text-align: center;
}

.emph {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.fancy {
  border: 2px solid #afb4bc;
  border-radius: 5px;
  background-color: #e3eafc;
}

.imagealign {
  text-align: center;
}
.project {
  text-align: left;
}
.project h2 {
  padding-left: 5px;
}
.titleblurb img {
  max-width: 200px;
  float:right;
  margin-left: 10px;
  border: 2px solid #afb4bc;
  border-radius: 5px;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.well {
  background-color: #e3eff7;
}

.nav {
  margin-top: 10px;
}
